/*-------------------------------------  Foot  ------------------------------------------*/
.testimonial,
.footer__form,
.footer__bottom {
  grid-column: 2 / 3;
}

.footer {
  padding-top: 70px;
}

.testimonial {
  display: flex;
  margin: 15px 0 140px;
}

.footer__form {
  margin: 0 auto 165px;

  height: 500px;
}

.footer__bottom {
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__reserved {
    font-size: 18px;
    color: #6c97a6;
  }

  &__social {
    a {
      margin-right: 6px;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  &__phone {
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    color: #7ec4d6;

  }
}