//  our base color, with one tint, and one shade - body and typogaphry is generally the base colour 
// $clr-base: #666;
// $clr-base-lt: #999;
// $clr-base-dk: #333;

//  primary brand color with shades and tints via Sass functions 
// $clr-primary: skyblue;
// $clr-primary-lt: lighten($clr-primary, 5%);
// $clr-primary-ltr: lighten($clr-primary, 10%);
// $clr-primary-ltst: lighten($clr-primary, 20%);
// $clr-primary-dk: darken($clr-primary, 5%);
// $clr-primary-dkr: darken($clr-primary, 10%);
// $clr-primary-dkst: darken($clr-primary, 20%);

//  secondary brand color with shades and tints via Sass functions 
// $clr-secondary: hotpink;
// $clr-secondary-lt: lighten($clr-secondary, 5%);
// $clr-secondary-ltr: lighten($clr-secondary, 10%);
// $clr-secondary-ltst: lighten($clr-secondary, 20%);
// $clr-secondary-dk: darken($clr-secondary, 5%);
// $clr-secondary-dkr: darken($clr-secondary, 10%);
// $clr-secondary-dkst: darken($clr-secondary, 20%);

//  neutrals 
// $clr-ntrl-min: #fff;
// $clr-ntrl-max: #000;

//  utility colors
// $clr-success: rgb(110, 187, 110);
// $clr-warning: rgb(245, 53, 53);
// $clr-accent: rgb(212, 117, 94);
//==================================================

// Color mixin with fallback
$vars: (clr-primary: rgb(54, 174, 234),
clr-ntrl-min: #fff,
clr-base-lt: rgb(148, 148, 148), //text
clr-base-dk: rgb(44, 46, 55)); // text

:root {

  @each $property,
  $value in $vars {
    --#{$property}:#{$value};
  }
}

@mixin var($property, $variable) {
  #{$property}: map-get($vars, $variable);
  #{$property}: var(--#{$variable});
}

//Example
// body {
//   @include var(color,clr-primary);
// }
//==================================================


//  base font size - applied at body / html level 
$fs-base: 16px;

//  larger than heading font sizes 
// $fs-giga: 80px;
// $fs-mega: 70px;
// $fs-kilo: 60px;

//  heading font sizes 
$fs-h1: 3.125rem; //50px;
$fs-h2: 1.875rem; //30px;
$fs-h3: 1.25rem; //20px;
$fs-h4: 1rem; //16px;
// $fs-h5: 20px;
// $fs-h6: 18px;

//  smaller than heading font sizes 
// $fs-milli: 0.875rem; //14px;
// $fs-micro: 10px;
// $fs-nano: 8px;